<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjrPwXrSvaTB602qCnt0VuVXztVURUnII</string>
	<key>GCM_SENDER_ID</key>
	<string>233273238188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayush.FlashChat-2-0</string>
	<key>PROJECT_ID</key>
	<string>flashchat-2-c2b2f</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-2-c2b2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233273238188:ios:3f414932b0a791709e3509</string>
</dict>
</plist>